let mapleader = ","

set clipboard+=ideaput
set scrolloff=999

" Search
set incsearch
set hlsearch
set ignorecase

" Appearences
set smartindent
set relativenumber
set number

" Shortcuts
vmap <C-c> "+yi
vmap <C-x> "+c
imap <C-v> <ESC>"+pa
" imap <S-Enter> <ESC>o
" imap <C-S-Enter> <ESC>O
imap <C-j> <Down>
imap <C-k> <Up>
imap <C-h> <Left>
imap <C-l> <Right>
noremap <leader>zz :set scrolloff=999<CR>
noremap <leader>!zz :set scrolloff=0<CR>

map <leader>rr <Action>(RenameElement)
map \r <Action>(Run)
map \d <Action>(Debug)
map \l <Action>(RunConfiguration)

" Actions - Find/Show/Navigation
map <leader>fu <Action>(FindUsages)
map <leader>th <Action>(TypeHierarchy)
map <leader>ch <Action>(CallHierarchy)
map <leader>nr <Action>(RecentFiles)
map <leader>ff <Action>(Find)

map <leader>sc <Action>(StringManipulation.Group.SwitchCase)